.login-popup {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}

.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title h2 {
    font-size: 24px;
    font-weight: 700;
}

.login-popup-title img {
  width: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

.login-popup-title img:hover {
    transform: scale(1.1);
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.login-popup-inputs input:focus {
    border-color: tomato;
}

.login-popup-container button {
  border: none;
  padding: 12px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-popup-container button:hover {
    background-color: #e04426;
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
  font-size: 13px;
}

.login-popup-condition input {
  margin-top: 4px;
  accent-color: tomato;
}

.login-popup p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}
